<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generic Django Project</title>
</head>
<body>
    <h1>Views - Index</h1>
    <a href="{% url 'index' %}">Back</a>
    
    <h3>Function Based views</h3>
    <a href="{% url 'django_views:function-based-views_create' %}">Create</a><br>
    <a href="{% url 'django_views:function-based-views_list' %}">List</a><br>

    <h3>Class Based views</h3>
    <a href="{% url 'django_views:class-based-views_create' %}">Create</a><br>
    <a href="{% url 'django_views:class-based-views_list' %}">List</a><br>
</body>
</html>