<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generic Django Project</title>
</head>
<body>
    <h1>Generic Django Project</h1>
    <p>
        This is a project developed while learning django. Instead of creating something like a TODO or Blog app,
        I decided to create multiple mini-projects, each one used for the purposes of learning different aspects of the
        framework. Links below to each section.
    </p>
    <a href="{% url 'django_views:index' %}">Django Views</a>
</body>
</html>