<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main">
        {%  for object in object_list %}
            <h3>{{ object.title }}</h3>
            <a href="{% url 'class-based-views_details' object.id %}">Details</a><br>
            <a href="{% url 'class-based-views_update' object.id %}">Update</a><br>
            <a href="{% url 'class-based-views_delete' object.id %}">Delete</a><br>
            <hr/>
        {% empty %}
            <p>No objects exist for this model</p>
        {% endfor %}
    </div>
    <a href="{% url 'views_index' %}">Back</a>
</body>
</html>